body {
    background-color: #222;
    color: #fff;
}


#titulo {
    text-align: center;
    font-weight: bold;
}

#imgMoeda {
       width: 300px;
       height: auto;
    }

#botaoJogar {
    margin-top: 20px;
    margin-bottom: 10px;
}

#conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}